<:Title>
Todos
<:Body>
<div class="row">
  <div class="col-md-4">
    {{ if loaded? }}

    <h1>Todo List</h1>
    <td><button e-click="bulk_destroy_todo">Remove All</button></td>
    <table class="todo-table">
      {{store._todos.each_with_index do |todo, index| }}
      <!-- Use params to store the current index -->
      <tr
      e-click="params._index = index"
      class="{{ if params._index.to_i == index }}selected{{ end }}"
      >
      <td><input type="checkbox" checked="{{ todo._completed }}" /></td>
      <td class="{{ if todo._completed }}complete{{ end }}">{{ todo._name }}</td>
      <td><button e-click="remove_todo(todo)">X</button></td>
    </tr>
    {{ end }}
  </table>

  <form e-submit="add_todo" role="form">
    <div class="form-group">
    <:fields:text label="Todo" value="{{ _name }}" />
   </div>
 </form>
 {{ end }}
</div>
</div>
